-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDHxBvhCqiXn8+4
HEHnLwTPq4f3cNn0h0kNyKV+NwipwZUIcK1h2YUq/G2DYXv5MAN1WEEBMq6daJNQ
Mkw1d7vEWB3n6rZQfehE6HxU6MGpEcAubTlc3s+1jIIZ0IvMulopx+BgMV53x9yz
9psN03XymAhhKiTc0Urw8iUbDR158giJa9SDnxfqQUKUt4If5jRJcucIhWasygxI
Y/y4o+61KFutgt8hWc2P0I0BDl2IxqR4dyVfnSlaFDqkeQMwwZna7G4y7JPnh2hh
W2b1BWg3rRdMlzPHaDzser5hZCR0XZXH5uNzTAEB4hsdG0W3cZ2AIAXAY45uGWqw
nl2uENYbAgMBAAECggEANXeq0pfsufB/Q1Lk3MC78+2ATd05qPZQuky65sZKHk1+
2yx1a5wxxWic0y5TZUXRlyXQ+EYdcGoeC7f6p9DtQ8cl8f3jYDXi5hanuH43302t
938qfE3yoDAEXm5wDJLQMSCbUIPGOh8XVl+p7pBroEvK6l7CUQv/l+/nuI7RFeMW
CACJKV1OQFpHNxpa8mvhc197komozCpr58j74MgZ56+p8cYA9OXzrCM85Utw5VL0
Op1i9WTANTVpJuj55IahCd8j2RInOKYngLOHWWuZgc8WDDmAVFh7cr33Wlt4KU5Z
0S6xFfV2hvnoNi5+KXghlTlYEAaSngPY6y06JAiLoQKBgQDn1pvvrhE24VMBj+iA
7Cz3JGs0KZ3stpIc0Fs+4YiutK1TZKTVYn/wBen+PR2cOwmfANDaJq+ioor3imMH
QLb/IfXtSg3Llezjm9sAHwqyeMaTHgpsnVomA7oK5XHB5GsTIFRrWfyiBdP7gz+K
868J95bWgt17fX6wC9BAMW6pUQKBgQDcldHCc4gTemEw5qmzY1j555a1t2EWI4fl
oRb52xOQNzc/MmhHq7+SlKS1FRwGTy92YDO4N2ZQrK77uw9cdSJxgCxvEn5PM/E8
eRl7PVKoH4koftNZKy56OH2JUPgN/bu8YdUw0zSKGsUenzRExQpDXHn803FIPprG
GZoRJpqtqwKBgFumZ3bU5VFAukO/1DZDJ3N8HjU8zoWplxF0/N1a42HNY0e4XcFN
cy476EjteCsu25rUA7x51q0AfNdnCcbwOmeZ0VLBF7sHxeIk1uqxWtU7EaVPFufh
PKYSixWLpvDzj7C78yONK2YRz796H0CbHPNfwW2DxnLvJYoK4YS/BfRBAoGBAK8x
oraQ8cuekCC5oqCiUCGziORscASYVa/QgKITGHebExrzWxVJWE8AFczopihwrd6T
y6ANCAsdC6FNUYb6VU/WH/RbuMwJEhkYiV9zNfnnihUKnaudez2BLltoXosmMfwN
q7gqlvj1CAgpI+dWo68afJyMBtX9OwoJfW8PvRwfAoGBAOefIGpLhfpT7A/5zDoo
TRPxcOsSSdBmbGJV/n/MvUNlRYmLj78fWODOpYT0eFhkGqmpWxkpC25tPUCL8yfG
SX5e5akOpL5rQUgr78tCr057HflY2DRI9Ohqh8LemGeDuFl356WYUhCCBTRWHfSR
S1+r8hyy8NRt4p1fAyogvOL/
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIEATCCAumgAwIBAgIJAIS46l67c+TyMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYD
VQQGEwJDSTEQMA4GA1UECAwHQUJJREpBTjEQMA4GA1UEBwwHQUJJREpBTjEOMAwG
A1UECgwFVkVPTkUxEzARBgNVBAsMClNVUFBPUlQgSVQxHDAaBgNVBAMME2lzcGNv
bmZpZy52ZW9uZS5uZXQxIDAeBgkqhkiG9w0BCQEWEXN1cHBvcnRAdmVvbmUubmV0
MB4XDTE2MDkwNzE1MDc1MloXDTM2MDkwMjE1MDc1MlowgZYxCzAJBgNVBAYTAkNJ
MRAwDgYDVQQIDAdBQklESkFOMRAwDgYDVQQHDAdBQklESkFOMQ4wDAYDVQQKDAVW
RU9ORTETMBEGA1UECwwKU1VQUE9SVCBJVDEcMBoGA1UEAwwTaXNwY29uZmlnLnZl
b25lLm5ldDEgMB4GCSqGSIb3DQEJARYRc3VwcG9ydEB2ZW9uZS5uZXQwggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDHxBvhCqiXn8+4HEHnLwTPq4f3cNn0
h0kNyKV+NwipwZUIcK1h2YUq/G2DYXv5MAN1WEEBMq6daJNQMkw1d7vEWB3n6rZQ
fehE6HxU6MGpEcAubTlc3s+1jIIZ0IvMulopx+BgMV53x9yz9psN03XymAhhKiTc
0Urw8iUbDR158giJa9SDnxfqQUKUt4If5jRJcucIhWasygxIY/y4o+61KFutgt8h
Wc2P0I0BDl2IxqR4dyVfnSlaFDqkeQMwwZna7G4y7JPnh2hhW2b1BWg3rRdMlzPH
aDzser5hZCR0XZXH5uNzTAEB4hsdG0W3cZ2AIAXAY45uGWqwnl2uENYbAgMBAAGj
UDBOMB0GA1UdDgQWBBSNRv71HtJN76iYo7QlZDcXOamldzAfBgNVHSMEGDAWgBSN
Rv71HtJN76iYo7QlZDcXOamldzAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUA
A4IBAQCXLhX8YUIxeSHGiMID/XyvpGgZOIIfZjcfoZB/XL/4RL1Af/TWwaGjyV23
fJChWbiO+55D3sONRM0T4LNNCElzESv4Eh+2g5+hIIi394uRZka2Jqm3HZdlXzUR
+BXDtrXnQpwyFvSX9Mz7OBZwoLr5IgTomjq14mvKDmiMQNlHo3MPIyT6OG421XXa
OBt/0Nd0csJmSMLTazSiYZxzAGclQxITmgWCNtQzDzWfAweehnHboy24SmoScNJy
BKPskAQUBAUwy1uj1mDHYrMkJs2jR3egrUPpAdDzn15SZFUUpTgRLW2pS41MEKNc
IEs7fFnT1ymDSjiFSUURfYXTboH0
-----END CERTIFICATE-----

